body {
  margin: 0;
}

.home{
  height: 60px;
}

.symbol{
  margin-top: 3px;
  margin-bottom: 0px;
  color: #757575;
}

.companyName{
  margin-top: -2px;
  margin-bottom: 3px;
  color: #757575;
}

.favCard {
  background-color: #000000;
}
