
body {
  margin: 0;
}

.form-control{
  float: left;
  margin-top:3px;
  width: 100%;
  height: 40px;
  font-size: 20px;
}

.submitbutton{
  width: auto;
}

.home{
  height: 60px;
}

.newsCards{
  margin-top: 20px;
  margin-left: 7px;
  margin-right: 7px;
}

.symbol{
  margin-top: 3px;
  margin-bottom: 0px;
  color: #757575;
}

.searchField, .submitbutton{
  margin-top:3px;
  width: 100%;
}

#date{
  width:100%;
}

.companyName{
  margin-top: -2px;
  margin-bottom: 3px;
  color: #757575;
}

.favCard {
  background-color: #000000;
}

.demo-card__title{
  margin: 0px;
}

.demo-card__subtitle {
  margin-top: -5px;
  margin-bottom: 5px;
}

.demo-card__secondary{
  margin-bottom: 6px;
}

.mdc-text-field-helper-line{
  margin-bottom: 9px;
}

.mdc-text-field{

}

.chart_div{
  margin-left:2px;
}

#sym{
  margin-top: 2px;
  margin-bottom: 2px;
  color: #757575;
}

#comp{
  margin-top: 2px;
  margin-bottom: 2px;
  color: #757575;
}

#quote{
  margin-top: 2px;
  margin-bottom: 2px;
  color: #757575;
}

.mdc-tab__icon{
  color: #757575;
}

.mdc-button{
  gutters: 6dp;
}
